<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center about-me-img">
                <img src="img/logo.png"/><br><br>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me</h2>
                <hr class="light"><br><br>
                <p> I’m Tara, I live in Mid Wales with my husband and our four beautiful boys. <br><br>
                I’ve always had a passion for drawing and creating something just that little bit different. I got into drawing digitally when Bridgend College asked me if I could draw some of their robots in their Robotics Department. I really enjoyed this and I even got to help them out on one of their showcase events in a local school. <br><br>
                Since then I’ve not really stopped drawing; from dogs, to buildings, to Disney characters and now my own style of cartoons. This has been a lovely journey for me and everyone I’ve encountered since starting up Tara Rebecca Art has been nothing but helpful. <br><br>
                This job has been incredible so far and I hope you take the opportunity to look through just some of my work, either on here, on Etsy, Facebook and Instagram.</p>
            </div>
        </div>
    </div>
</section>
