<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Personalised cartoons</h2>
                <hr class="light">
                <p class="text-faded">Perfect as a gift for a friend, a relative or yourself.</p>
                <a href="https://www.etsy.com/shop/{{ site.etsy_username }}" class="btn btn-default btn-xl">Shop on Etsy</a>
            </div>
        </div>
    </div>
</section>
