<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">How it works</h2>
                <hr class="light"><br><br>
                <video width="320" height="240" controls>
                  <source src="img/video.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</section>
